#hero {
    padding-top: 150px;
}

#hero .section-header-2-left {
    padding-bottom: 40px;
}

#hero .section-header-2-left h2 {
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    color: var(--color-primary);
    font-family: var(--font-secondary)
}

#hero .section-header-2-left h2::before {
    content: "";
    width: 50px;
    height: 1px;
    display: inline-block;
    background: var(--color-primary);
    margin: 8px 10px;
}

#hero .select-menu .btn-select-menu {
    background-color: #232C5E;
    color: #fff;
    width: 150px;
    border-radius: 100px;
    margin: 0 5px;
    padding: auto 10px;
}

#hero .select-menu .btn-select-menu:hover {
    background-color: #ec008c;
}

@media screen and (max-width:540px) {
    #hero .select-menu .btn-select-menu {
        background-color: #232C5E;
        color: #fff;
        width: 150px;
        font-size: 12px;
        border-radius: 100px;
        margin: 0 5px;
        padding: auto 0;
    }
}

.background .section-header-2 {
    display: block;
}

.background .section-header-2-left h2 {
    font-family: var(--font-secondary);
    color: #fff;
    padding-bottom: 10px;
}

.background .section-header-2-left h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 3px;
    background: var(--color-secondary);
    bottom: 0;
    margin: 0;
}

#menu .background {
    background-color: #232C5E;
}

#menu .card:hover {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
    transition: all .2s ease;
         
}

#menu .card h3,
#paketCombo .card h3 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    font-size: 20px;
}


#menu .card img {
    height: 15rem;
    object-fit: cover;
}

#menu .card .card-menu-footer {
    justify-content: space-between;
    display: flex;
}

#menu .card .card-menu-footer span {
    color: #ff0000;
    text-transform: uppercase;
}

#menu .card .card-menu-footer .icons {
    display: inline-block;
}

#menu .card .card-menu-footer .icons .btn-menu {
    font-size: 20px;
    color: #232C5E;
    padding: 0 5px;
}

#menu .card .card-menu-footer .icons .btn-menu:hover {
    color: #ec008c;
}

#bannerSlider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerSlider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

#paketCombo .card h3 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
}

#paketCombo .card img {
    height: 15rem;
    object-fit: cover;
}

#paketCombo .card .card-menu-footer {
    justify-content: space-between;
    display: flex;
}

#paketCombo .card .card-menu-footer span {
    color: #ff0000;
    text-transform: uppercase;
}

#paketCombo .card .card-menu-footer .icons {
    display: inline-block;
}

#paketCombo .card .card-menu-footer .icons .btn-menu {
    font-size: 20px;
    color: #232C5E;
    padding: 0 5px;
}

#paketCombo .card .card-menu-footer .icons .btn-menu:hover {
    color: #ec008c;
}

#paketCombo .section-header-2 {
    padding-bottom: 60px;
}

#paketCombo .section-header-2 h2 {
    font-size: 36px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-default);
    font-family: var(--font-secondary)
}

#paketCombo .section-header-2 h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: var(--color-primary);
    margin: 12px 10px;
}

@media screen and (max-width:540px) {
    #paketCombo .section-header-2 h2 {
        font-size: 20px;
    }

    #paketCombo .section-header-2 h2::after {
        margin: 6px 10px;
    }
}