.about-left {
  float: left;
}

.about-text {
  margin-top: 2em;
}

.about-text p {
  color: #777;
  line-height: 1.9em;
  font-size: 1em;
}

.h-f {
  margin-bottom: 2em;
}

.section-about h2 {
  text-align: center;
}


.section-header-2-right h2 {
  font-size: 36px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-default);
  font-family: var(--font-secondary);
}

.section-header-2-right h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--color-primary);
  margin: 12px 10px;
}

.section-header-2-left h2 {
  font-size: 36px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-default);
  font-family: var(--font-secondary);
}

.section-header-2-left h2::before {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--color-primary);
  margin: 12px 10px;
}

.section-header-history h2 {
  font-size: 64px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-header-history h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--color-primary);
  margin: 20px 10px;
}

.section-header-history h2::before {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--color-primary);
  margin: 20px 10px;
}

@media screen and (max-width:1200px) {
  .section-header-history h2 {
    font-size: 36px;
  }

  .section-header-history h2::after {
    margin: 15px 10px;
    width: 50px;
  }

  .section-header-history h2::before {
    margin: 15px 10px;
    width: 50px;
  }
}

@media (min-width:480px) {
  .section-header-history h2 {
    font-size: 28px;
  }

  .section-header-history h2::after {
    margin: 15px 10px;
    width: 100px;
  }

  .section-header-history h2::before {
    margin: 15px 10px;
    width: 100px;
  }
}

.btn-primary-custom {
  display: inline-block;
  padding: 10px;
  background-color: #ec008c;
  color: #ffff;
}

.btn-primary-custom:hover {
  background-color: #00b2d8;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
  width: 320px;
  height: auto;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.box:before,
.box:after {
  background: linear-gradient(235deg, #00b2d8, #232c5e, #EC008C);
}

.contents {
  box-sizing: border-box;
}